@import (inline) 'bootstrap.css';
@import 'react-grid-layout';
@import 'widgets';

main {
	width: 100%;
	height: 100;

	padding: 30px;
	padding-top: 70px;
}

.icon {
	max-width: 26px;
	max-height: 26px;
}

.parent-size {
	height: inherit;
	// width: inherit;
}
