@import (inline) 'bootstrap.css';
@import 'react-grid-layout';
@import 'widgets';

html, body {
	height: 100%;
}

main {
	width: 100%;
	height: 100%;

	background-image: url('images/background.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;

	padding: 30px;
	padding-top: 70px;
}

#widgetbar {
	& {
		width: 25em;
		position: absolute;
		bottom: 0;
		right: 0;
		padding-top: 70px;
	}
	.list-group {
		margin-bottom: 5px;
	}
}

.icon {
	max-width: 26px;
	max-height: 26px;
}

.parent-size {
	height: inherit;
}

.panel, .well {
	background-color: rgba(213, 213, 255, 0.65);
}
